In [1]:
#implementing necessary libraries
import pandas as pd
import numpy as np

#Data pre-processing Libraries
from sklearn.preprocessing import LabelEncoder

#Data Train_test fit Library
from sklearn.model_selection import train_test_split

#Random-Forest Algorith Library
from sklearn.ensemble import RandomForestClassifier

#Model Evaluation Library
from sklearn.metrics import accuracy_score

#Stratified K-Fold for cross validation
from sklearn.model_selection import StratifiedKFold

#Machine learning Algorithm
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_excel('ktm.xlsx')

In [3]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
le = LabelEncoder()

In [5]:
df['Gender'] = le.fit_transform(df['Gender'])
df['Occupation'] = le.fit_transform(df['Occupation'])
df['Phone Type'] = le.fit_transform(df['Phone Type'])
df['Current Bike'] = le.fit_transform(df['Current Bike'])
df['Relationship'] = le.fit_transform(df['Relationship'])
df['Response'] = le.fit_transform(df['Response'])

In [6]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,1,0,0,1,1,0
1,2,27,0,1,2,4,3,1
2,3,39,0,3,0,1,2,0
3,4,20,0,3,1,4,2,0
4,5,29,1,2,0,1,1,1

In [7]:
y = df[['Response']]

In [8]:
x =df.drop(columns=['ID','Response'], axis=1)

## Train_test_Spit

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=30)

## Fiting the Model with Traing DataSet

In [10]:
RF = RandomF`orestClassifier()

In [11]:
RF.fit(x_train, y_train)

<ipython-input-11-90c9a5afc842>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RF.fit(x_train, y_train)

RandomForestClassifier()

In [12]:
pred = RF.predict(x_test)

In [13]:
accuracy_score(pred, y_test)

0.7609649122807017

## Implementing Stratified K-fold Cross Validation

In [14]:
stf = StratifiedKFold(n_splits=8)

In [15]:
stf.get_n_splits(X=x, y=y)  #how many split it will create on x,y Data

10

In [16]:
dt = DecisionTreeClassifier()

In [17]:

accuracy = []
for train_index, test_index in stf.split(x,y):
    #print('Train = ',train_index,'Test = ',test_index)
    x1_train, x1_test = x.iloc[train_index], x.iloc[test_index]   #spliting using stratified K-fold 
    y1_train, y1_test = y.iloc[train_index], y.iloc[test_index]
    dt.fit(x1_train,y1_train)
    pred = dt.predict(x1_test)
    acc = accuracy_score(y1_test,pred)
    accuracy.append(acc)

In [18]:
accuracy

[0.5263157894736842,
 0.5394736842105263,
 0.5394736842105263,
 0.6447368421052632,
 0.8486842105263158,
 0.8947368421052632,
 0.8486842105263158,
 0.8552631578947368,
 0.8410596026490066,
 0.847682119205298]

In [ ]:
print